@import url(https://fonts.googleapis.com/css?family=Merriweather:300,900);

*, *:before, *:after{
  box-sizing: border-box;
  font: 300 1em/1.5 'Merriweather';
  padding: 0; margin: 0;
}

html, body{
    background:#1E1D1D;}

.name {
    width: 100%;
    height: 100vh;
    position: relative;
}

#logo {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: fill 0.5 ease forwards 3.5s;
}
#logo path:nth-child(1){
    stroke-dasharray: 491;
    stroke-dashoffset: 491;
    animation: line-anim 2s ease forwards 0.6s;
}

#logo path:nth-child(2){
    stroke-dasharray: 318;
    stroke-dashoffset: 318;
    animation: line-anim 2s ease forwards 0.6s;
}

#logo path:nth-child(3){
    stroke-dasharray: 353;
    stroke-dashoffset: 353;
    animation: line-anim 2s ease forwards 0.3s;
}
#logo path:nth-child(4){
    stroke-dasharray: 327;
    stroke-dashoffset: 327;
    animation: line-anim 2s ease forwards 1.6s;
}
#logo path:nth-child(5){
    stroke-dasharray: 353;
    stroke-dashoffset: 353;
    animation: line-anim 2s ease forwards 0.4s;
}

#logo path:nth-child(6){
    stroke-dasharray: 324;
    stroke-dashoffset: 324;
    animation: line-anim 2s ease forwards 1.6s;
}
#logo path:nth-child(7){
    stroke-dasharray: 322;
    stroke-dashoffset: 322;
    animation: line-anim 2s ease forwards 1.2s;
}
#logo path:nth-child(8){
    stroke-dasharray: 353;
    stroke-dashoffset: 353;
    animation: line-anim 2s ease forwards 0.2s;
}
#logo path:nth-child(9){
    stroke-dasharray: 160;
    stroke-dashoffset: 160;
    animation: line-anim 2s ease forwards 1.7s;
}
#logo path:nth-child(10){
    stroke-dasharray: 318;
    stroke-dashoffset: 318;
    animation: line-anim 2s ease forwards 0.4s;
}
#logo path:nth-child(11){
    stroke-dasharray: 390;
    stroke-dashoffset: 390;
    animation: line-anim 2s ease forwards 0.9s;
}
#logo path:nth-child(12){
    stroke-dasharray: 353;
    stroke-dashoffset: 353;
    animation: line-anim 2s ease forwards 1.2s;
}


.bottom-text{
    color: dimgrey;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2.7vh;
    white-space: nowrap;
    font-family: sans-serif;
    animation: 4s ease 0s normal forwards 1 fadein;
}




@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}
@keyframes circle-anim{
    to{
        stroke-dashoffset: 40;
    }
}


@keyframes fadein{
0% { opacity:0; }
66% { opacity:0; }
100% { opacity:1; }
}

#section10 a {
    animation: 4s ease 0s normal forwards 1 fadein;
    padding-top: 60px;
  }
  #section10 a span {
    position: absolute;
    bottom: 50px;
    left: 50%;
    right: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
  }
  #section10 a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    right: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
  }
  @keyframes sdb10 {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }




.about {
	height: 100vh;
    margin-top: 100px;
    color: grey;
    margin-left: 7%;
    margin-right: 7%;
}

.about h1,
.work h1 {
    font-size: 10vw;
    font-family: sans-serif;
	z-index: 0;
	opacity: .1; 
}

.about-me-info {
	max-width: 900px;
	background-color: #252627;
	box-shadow: 0 0 1.2rem rgba(0,0,0,.25);
    padding: 50px;
	position: relative;
	top: -100px;
	left: 50%;
	transform: translate(-50%);
    z-index: 1;
}

.about-me-info p, .container-title p {
    font-size: 1.2rem;
	color: #BEBEBE;
}

.contact-me-info p {
	font-size: 1.2rem;
	color: #BEBEBE;
}


.about-me-info p:nth-child(2),
.about-me-info p:last-child{
	margin-top: 30px;
}

.about img {
	width: 40vh;
	position: relative;
	top: -300px;
	left: calc(100% - 100px);
	right: calc (100% - 100px);
	transform: translateX(calc(-100% + 100px));
}


.Graph{
    margin-top: 30px;
}
.wrap {
    width: 30%;
    margin: 0 auto;
  }
  
.bar {
    background: grey;
    width: 0;
    margin: .20em 0;
    color: #fff;
    transform: translateX(40px);
    position: relative;
    transition: 2s;
 }
 .label {
    z-index: 2;
    font-size: .60em;
    padding: 1em;
    background: #1E1D1D;
    width: 9em;
    transform: translateX(-40px);
    display: inline-block;
    position: relative;
    font-weight: bold;
    font-family: sans-serif;
  }


.count {
    position: absolute;
    right: .95em;
    top: .75em;
    font-size: .75em;
    font-weight: medium;
    font-family: sans-serif;
   }

  
form{
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
}

.email{
    background: transparent;
    border: none; 
    outline: none;
    border-bottom: 1px solid grey;
    color: grey;
    font-size: 18px;
    margin-bottom: 20px;
    
}
.subject{
    background: transparent;
    border: none; 
    outline: none;
    border-bottom: 1px solid grey;
    color: grey;
    font-size: 18px;
    margin-bottom: 20px;
    
}
.message{
    background: transparent;
    border: none; 
    outline: none;
    border-bottom: 1px solid grey;
    color: grey;
    font-size: 18px;
    margin-bottom: 20px;
    
}

input{
    height: 45px;
}

form .submit
{
background: #BEBEBE;
border-color: transparent;
color: black;
font-size: 20px;
font-family: sans-serif;
font-weight: bolder;
letter-spacing: 2px;
height: 50px;
margin-top: 50px;    
}

form .submit:hover{
    background-color: dimgray;
    cursor: pointer;
}


.middle{
position: relative;
margin-left: 30%;
margin-right: 30%;
margin-top: 40px;
}

.cert-button{
    position: relative;
    display: block;
    color: white;
    white-space: nowrap;
    font-family: sans-serif;
    text-size-adjust: 20%;
    text-decoration: none;
    border: 2px solid #ff7675;
    padding: 14px;
    text-align:center;
    overflow: hidden;
    transition: 1s all ease;
}

.cert-button::before{
    background: #ff7675;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
}

.cert-button::before{
    width: 100%;
    height: 0;
    transform: translate(-50%,-50%) rotate(-45deg);
}

.cert-button:hover::before{
    height: 500%;
}


.contact {
	height: 100vh;
    margin-top: 100px;
    color: grey;
    margin-left: 7%;
    margin-right: 7%;
}


.contact h1 {
    font-size: 10vw;
    font-family: sans-serif;
    position: relative;
    padding-left: 50%;
    border-right: 20px;
	opacity: .1; 
}

.contact-me-info {
    max-width: 900px;
	background-color: #252627;
	box-shadow: 0 0 1.2rem rgba(0,0,0,.25);
    padding: 50px;
	position: relative;
	top: -100px;
	left: 50%;
	transform: translate(-50%);
    z-index: 1;
}




.button-form{
text-align: center;
}

.contact img {
	width: 40vh;
	position: relative;
	top: -300px;
	left: 8%;
}

.fixed_footer{
    width: 100%;
    height: 150px;
    background: #111;
    position: fixed; left: 0; bottom: 0;
    z-index: -100;
}

.fixed_footer p{
    color: #696969;
    font-size: 1em;
    font-weight: 300;
}

.content{
    text-align: center;
    margin: auto;
    margin-bottom: 150px; /* Same height as footer */
    padding: 38px;
}


input[type="submit"] {
    font-size:15px;
    font-family: sans-serif;
    padding-right: 5%;
    padding-left: 5%;
    font-style: normal;
}